<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BindMapper">

    <select id="findAllDept" resultType="pd" parameterType="pd">
        select
        id, dept_name, parent_id
        from conf_dept
        where logic_delete = b'0'
    </select>

    <select id="findListByDept" resultType="pd" parameterType="java.lang.String">
        select
        id, dept_name, parent_id
        from conf_dept
        where logic_delete = b'0'
        AND id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findListByRegion" resultType="pd" parameterType="java.lang.String">
        select
        id, dept_name, parent_id
        from conf_dept
        where logic_delete = b'0'
        AND region_id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--<select id="roomListBydeptid" resultType="pd" parameterType="pd">
        select
          t1.room_id, t1.dept_id, t2.room_code
        from ass_room_dept t1 LEFT JOIN ass_room t2 ON t1.room_id = t2.room_id
        where dept_id = #{dept_id,jdbcType=BIGINT}
    </select>-->

    <select id="personListBydeptid" resultType="pd" parameterType="pd">
        select
          person_id, person_name
        from ass_person
        where logic_delete = b'0'
        AND conf_dept_id = #{conf_dept_id,jdbcType=BIGINT}
        ORDER BY level_id ASC
    </select>

    <select id="personsByRoom" resultType="pd" parameterType="pd">
        select
          person_id, person_name
        from ass_room_person t1 LEFT JOIN ass_person t2 ON t1.person_id = t2.person_id
        where t2.logic_delete = b'0'
        AND t1.room_id = #{room_id,jdbcType=BIGINT}
        ORDER BY person_id ASC
    </select>

    <insert id="personBindRoom" parameterType="pd">
        insert into ass_room_person (room_id, person_id) VALUE (#{room_id,jdbcType=BIGINT}, #{person_id,jdbcType=BIGINT})
    </insert>

    <delete id="deleteByRoomid" parameterType="pd">
        DELETE FROM ass_room_person WHERE room_id = #{room_id,jdbcType=BIGINT}
    </delete>

</mapper>