<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PersonMapper" >
  <sql id="Base_Column_List">
    person_id, person_name, person_code, person_sex, person_phone, person_remark, level_id, department1_id, department2_id, person_remark1, person_remark2, person_remark3, person_remark4, logic_delete, created_by, updated_by, created_time, updated_time, conf_region_id, conf_dept_id
  </sql>

  <select id="selectByPrimaryKey" resultType="pd" parameterType="pd">
    select
    <include refid="Base_Column_List" />
    from ass_person
    where person_id = #{person_id,jdbcType=BIGINT}
  </select>


  <select id="pageListByDeptid" resultType="pd" parameterType="pd">
    select
    <include refid="Base_Column_List" />
    from ass_person
    where logic_delete = b'0'
    and conf_dept_id = #{dept_id}
  </select>

  <insert id="insert" parameterType="pd">
    insert into ass_person ( person_name, person_code, person_sex, person_phone, person_remark, level_id, department1_id, department2_id, person_remark1, person_remark2, person_remark3, person_remark4, logic_delete, created_by, updated_by, created_time, updated_time, conf_region_id, conf_dept_id
    )
    values (
    #{person_name}, #{person_code}, #{person_sex}, #{person_phone}, #{person_remark}, #{level_id}, #{department1_id}, #{department2_id}, #{person_remark1}, #{person_remark2}, #{person_remark3}, #{person_remark4}, #{logic_delete}, #{created_by}, #{updated_by}, #{created_time}, #{updated_time}, #{conf_region_id}, #{conf_dept_id}
    )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="pd">
    update ass_person
    <set>
      <if test="person_name != null" >
        person_name = #{person_name},
      </if>
      <if test="person_code != null" >
        person_code = #{person_code},
      </if>
      <if test="person_sex != null" >
        person_sex = #{person_sex},
      </if>
      <if test="person_phone != null" >
        person_phone = #{person_phone},
      </if>
      <if test="person_remark != null" >
        person_remark = #{person_remark},
      </if>
      <if test="level_id != null" >
        level_id = #{level_id},
      </if>
      <if test="department1_id != null" >
        department1_id = #{department1_id},
      </if>
      <if test="department2_id != null" >
        department2_id = #{department2_id},
      </if>
      <if test="person_remark1 != null" >
        person_remark1 = #{person_remark1},
      </if>
      <if test="person_remark2 != null" >
        person_remark2 = #{person_remark2},
      </if>
      <if test="person_remark3 != null" >
        person_remark3 = #{person_remark3},
      </if>
      <if test="person_remark4 != null" >
        person_remark4 = #{person_remark4},
      </if>
      <if test="logic_delete != null" >
        logic_delete = #{logic_delete},
      </if>
      <if test="created_by != null" >
        created_by = #{created_by},
      </if>
      <if test="updated_by != null" >
        updated_by = #{updated_by},
      </if>
      <if test="created_time != null" >
        created_time = #{created_time},
      </if>
      <if test="updated_time != null" >
        updated_time = #{updated_time},
      </if>
      <if test="conf_region_id != null" >
        conf_region_id = #{conf_region_id},
      </if>
      <if test="conf_dept_id != null" >
        conf_dept_id = #{conf_dept_id},
      </if>
    </set>
    where level_id = #{level_id,jdbcType=BIGINT}
  </update>

  <update id="deleteByPrimaryKeySelective" parameterType="pd">
    update ass_person
    <set>
      logic_delete = b'1',
      updated_by = #{updated_by},
      updated_time = #{updated_time},
    </set>
    where level_id = #{level_id,jdbcType=BIGINT}
  </update>

  <select id="findByPage" resultType="pd" parameterType="pd">
    select
    <include refid="Base_Column_List" />
    from ass_person
    where logic_delete = b'0'
  </select>

  <select id="findListByDept" resultType="pd" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from ass_person
    where logic_delete = b'0'
    <if test="deptids != null">
      AND conf_dept_id IN
      <foreach item="deptIds" index="index" collection="array" open="(" separator="," close=")">
        #{deptIds}
      </foreach>
    </if>
  </select>

  <select id="findListByRegion" resultType="pd" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from ass_person
    where logic_delete = b'0'
    <if test="regionIds != null">
      AND conf_region_id IN
      <foreach item="regionIds" index="index" collection="array" open="(" separator="," close=")">
        #{regionIds}
      </foreach>
    </if>
  </select>
</mapper>