<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoomMapper">

    <sql id="Base_Column_List">
        room_id, floor_id, build_id, room_number, real_area, room_type, telephone, room_remark, room_x, room_y, room_z, logic_delete, created_by, updated_by, created_time, updated_time, conf_region_id, conf_dept_id
    </sql>
    <select id="selectByPrimaryKey" resultType="pd" parameterType="pd">
        select
        <include refid="Base_Column_List" />
        from ass_floor
        where room_id = #{room_id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="pd">
        insert into ass_room (floor_id, build_id, room_number, real_area, room_type, telephone, room_remark, room_x, room_y, room_z, logic_delete, created_by, updated_by, created_time, updated_time, conf_region_id, conf_dept_id
        )
        values (#{floor_id}, #{build_id}, #{room_number}, #{real_area}, #{room_type}, #{telephone}, #{room_number}, #{room_x}, #{room_y}, #{room_z}, #{logic_delete}, #{created_by}, #{updated_by}, #{created_time}, #{updated_time}, #{conf_region_id}, #{conf_dept_id}
        )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="pd">
        update ass_room
        <set>
            <if test="build_id != null" >
                build_id = #{build_id},
            </if>
            <if test="floor_int != null" >
                floor_int = #{floor_int},
            </if>
            <if test="room_number != null" >
                room_number = #{room_number},
            </if>
            <if test="real_area != null" >
                real_area = #{real_area},
            </if>
            <if test="room_type != null" >
                room_type = #{room_type},
            </if>
            <if test="telephone != null" >
                telephone = #{telephone},
            </if>
            <if test="room_remark != null" >
                room_remark = #{room_remark},
            </if>
            <if test="room_x != null" >
                room_x = #{room_x},
            </if>
            <if test="room_y != null" >
                room_y = #{room_y},
            </if>
            <if test="room_z != null" >
                room_z = #{room_z},
            </if>
            <if test="logic_delete != null" >
                logic_delete = #{logic_delete},
            </if>
            <if test="created_by != null" >
                created_by = #{created_by},
            </if>
            <if test="updated_by != null" >
                updated_by = #{updated_by},
            </if>
            <if test="created_time != null" >
                created_time = #{created_time},
            </if>
            <if test="updated_time != null" >
                updated_time = #{updated_time},
            </if>
            <if test="conf_region_id != null" >
                conf_region_id = #{conf_region_id},
            </if>
            <if test="conf_dept_id != null" >
                conf_dept_id = #{conf_dept_id},
            </if>
        </set>
        where room_id = #{room_id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKeySelective" parameterType="pd">
        update ass_room
        <set>
            logic_delete = b'1',
            updated_by = #{updated_by},
            updated_time = #{updated_time},
        </set>
        where room_id = #{room_id,jdbcType=BIGINT}
    </update>

    <select id="findByPage" resultType="pd" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from ass_room
        where logic_delete = b'0'
        <if test="keywords != null">
            AND
            (
            building_name LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            /*or
            u.EMAIL LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')*/
            )
        </if>
        ORDER BY room_id ASC
    </select>

    <select id="findListByDept" resultType="pd" parameterType="pd">
        select
        <include refid="Base_Column_List" />
        from ass_room
        where logic_delete = b'0'
        <if test="deptids != null">
            AND conf_dept_id IN
            <foreach item="deptIds" index="index" collection="array" open="(" separator="," close=")">
                #{deptIds}
            </foreach>
        </if>
        <if test="keywords != null">
            AND
            (
            building_name LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            /*or
            u.EMAIL LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')*/
            )
        </if>
    </select>

    <select id="findListByRegion" resultType="pd" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from ass_room
        where logic_delete = b'0'
        <if test="regionIds != null">
            AND conf_region_id IN
            <foreach item="regionIds" index="index" collection="array" open="(" separator="," close=")">
                #{regionIds}
            </foreach>
        </if>-->
        <if test="keywords != null">
            AND
            (
            building_name LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            /*or
            u.EMAIL LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')*/
            )
        </if>
    </select>

</mapper>